html {
  font-family: Verdana;
  Background-color: black;
  text-align: center;
}
h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}
a {
  font-size: 16px;
  font-weight: normal;
  color: aquamarine;
}
